// ======================================================
// Layout :: Header
// ======================================================

.top-header {
  background-color: $cl-white;
  border: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $cl-gray-light-4;
  padding: 0;

  .container-fluid {
    padding: 0;
  }
}

.navbar-brand-wrapper {
  display: flex;
  width: 230px;
  flex: 0 0 230px;

  @include breakpoint-down(phone) {
    display: none;
  }

  .navbar-brand {
    display: block;
    line-height: 60px;
    height: 60px;
    width: 142px;
    background-image: url('#{$path-image}/logo.png ');
    background-repeat: no-repeat;
    background-position: 20px center;
    padding: 0 20px;
    margin: 0;
  }
}

.page-title {
  float: left;
  flex: 1 1;
  line-height: 60px;
  padding: 0 20px;

  h1 {
    line-height: inherit;
    font-size: 1.462rem;
    color: $cl-dark-light;
    font-weight: $font-weight-base;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
  }

  @include breakpoint-down(phone) {
    display: none;
  }
}

.navbar-right {
  padding-right: 20px;
  flex: 0 0 auto;

  .dropdown-user {
    border-radius: 3px;
    margin-top: 12px;
    line-height: 20px;
    width: 220px;
    padding: 0 0 7px;
    left: -178px;

    .user-info {
      background-color: $cl-blue;
      color: $cl-white;
      padding: 20px 15px 14px;
      border-radius: 2px 2px 0 0;
      margin-bottom: 7px;
    }

    .user-name {
      display: block;
      font-size: 1.462rem;
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .user-position {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-left: 13px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 7px;
        width: 7px;
        left: 0;
        top: 5px;
        border: 1px solid $cl-green-light-4;
        border-radius: 50%;
        display: block;
        background-color: $cl-green-light-4;
      }
    }

    &:after {
      border-bottom: 8px solid $cl-white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top: -8px;
      content: '';
      display: inline-block;
      margin-left: -6px;
      position: absolute;
      left: auto;
      right: 13px;
      border-bottom-color: $cl-blue;

      @include breakpoint-down(phone) {
        right: auto;
        left: 13px;
      }
    }

    .dropdown-item {
      color: $cl-dark-light-6;
      padding: 10px 20px;
      min-width: 175px;
      line-height: 18px;

      .icon {
        font-size: 1.231rem;
        line-height: normal;
        vertical-align: middle;
        margin-right: 10px;
        color: $cl-dark-light-7;
      }
    }
  }

  @include breakpoint-down(phone) {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $cl-blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $cl-blue;
    z-index: 1030;
  }
}

.icons-nav {
  margin-right: 20px;

  @include breakpoint-down(phone) {
    margin: 0 5px 0 0;
  }

  .dropdown {
    position: static;

    @include breakpoint-down(phone) {
      margin-left: 3px;
    }

    &.show > a,
    &.show > a > .icon {
      color: $cl-blue;

      @include breakpoint-down(phone) {
        color: $cl-white;
      }
    }

    .nav-link {
      cursor: pointer;
      padding: 0 10px;
      line-height: 60px;
      font-size: 14px;
      position: relative;

      &.dropdown-toggle:after {
        display: none;
      }

      @include breakpoint-down(phone) {
        padding: 0 7px;
      }
    }

    &.show > .nav-link:before {
      border-bottom: 8px solid $cl-white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      bottom: -13px;
      content: '';
      display: inline-block;
      left: 50%;
      margin-left: -8px;
      position: absolute;
      z-index: 1002;
    }

    &.show > .nav-link:after {
      content: '';
      margin: 0;
      border: 0;
      border-bottom: 8px solid $cl-white;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      display: inline-block;
      left: 50%;
      position: absolute;
      z-index: 1001;
      font-size: 1.231rem;
      border-bottom-width: 9px;
      border-left-width: 9px;
      border-right-width: 9px;
      border-bottom-color: $cl-gray-medium;
      margin-left: -9px;
      bottom: -12px;
    }
  }

  %top-dropdown {
    width: 300px;
    padding: 0;
    box-sizing: content-box;
    box-shadow: 0 2px 6px rgba($cl-dark, .08);
    border: 1px solid $cl-gray-light-5;
    border-radius: 3px;
    margin-top: 12px;
    line-height: 20px;
    position: absolute;
    left: auto;
    right: 25px;
    float: none;
  }

  .drop-notifications {
    &:hover .ps__rail-y {
      display: block;
      opacity: .9;
    }

    @extend %top-dropdown;

    .title {
      font-size: 1rem;
      color: $cl-gray-dark-2;
      text-align: center;
      padding: 10px 0 8px;
      border-bottom: 1px solid $cl-gray-light-6;
    }

    .badge {
      font-size: .6962rem;
      line-height: 10px;
      vertical-align: middle;
      margin-left: 4px;
      background-color: $cl-gray-light-7;
      color: $cl-gray-dark-2;
      min-width: 17px;
      height: 17px;
      text-align: center;
      padding: 3px 6px;
    }

    .list .content {
      height: 222px;
      position: relative;
    }

    .footer a {
      background-color: $cl-gray-light-9;
      font-size: 1rem;
      color: $cl-gray-dark-2;
      text-align: center;
      padding: 10px 0;
      border-top: 1px solid $cl-gray-light-6;
      display: block;
      outline: 0;

      &:hover {
        background-color: $cl-gray-light-8;
      }
    }

    .notification {
      overflow: hidden;
      border-bottom: 1px solid $cl-gray-light-6;

      &:hover {
        background-color: $cl-blue;
      }

      &:hover .user-name,
      &:hover .time,
      &:hover .text {
        color: $cl-white;
      }

      > a {
        position: relative;
        padding: 15px;
        display: block;
        overflow: hidden;
      }

      > a .notification-info {
        padding-left: 50px;
        line-height: 14px;
      }

      > a .text {
        margin: 0;
        font-weight: $font-weight-medium;
        color: $cl-gray-dark-2;
        font-size: .9231rem;
        line-height: 16px;
      }

      > a .time {
        margin: 0;
        color: $cl-gray-dark-2;
        display: block;
        font-size: .6923rem;
        margin-top: 4px;
        text-transform: uppercase;
      }

      .image {
        height: 38px;
        width: 38px;
        border-radius: 50%;
        background-color: $cl-gray-light-7;
        float: left;
        text-align: center;
        overflow: hidden;
      }

      .image img {
        height: 100%;
        width: 100;
        line-height: 36px;
      }

      .user-name {
        color: $cl-blue;
        font-size: 1rem;
        display: inline-block;
        margin-right: 5px;
      }
    }

    .notification.notification-unread {
      &:hover {
        background-color: $cl-blue;
      }

      &:hover .user-name,
      &:hover .time,
      &:hover .text {
        color: $cl-white;
      }

      &:hover > a:after {
        background-color: $cl-white;
      }

      background-color: $cl-blue-light-8;
      border-bottom: 1px solid $cl-blue-light-7;

      > a:after {
        content: '';
        display: block;
        position: absolute;
        right: 15px;
        top: 20px;
        width: 6px;
        height: 6px;
        background-color: $cl-blue;
        border-radius: 50%;
      }
    }
  }

  .drop-connect {
    @extend %top-dropdown;

    .list-connect {
      padding: 20px 15px;

      .row {
        margin: 0;
      }

      .col {
        padding: 0 5px;
      }
    }

    .connect-item {
      border-radius: 3px;
      line-height: 34px;
      text-align: center;
      padding: 15px 0 9px;
      display: block;
      border: 1px solid transparent;
      color: $cl-dark-light-8;

      img {
        max-height: 35px;
        max-width: 35px;
      }

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        background-color: transparent;
        border-color: $cl-gray-light-6;
      }
    }

    .footer a {
      background-color: $cl-gray-light-9;
      font-size: 1rem;
      color: $cl-gray-dark-2;
      text-align: center;
      padding: 10px 0;
      border-top: 1px solid $cl-gray-light-6;
      display: block;
      outline: 0;

      &:hover {
        background-color: $cl-gray-light-8;
      }
    }
  }
}

.icons-nav .dropdown .nav-link .indicator {
  background-color: $cl-blue;
  border-radius: 50%;
  display: block;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 18px;
  right: 6px;

  @include breakpoint-down(phone) {
    background: $cl-white;
    right: 2px;
  }
}

.icons-nav .dropdown .nav-link .icon {
  font-size: 1.846rem;
  vertical-align: middle;
  color: $cl-dark-light-8;

  @include breakpoint-down(phone) {
    color: $cl-white;
    &:hover {
      color: $cl-white;
    }
  }
}

.navbar-expand .navbar-nav .dropdown-menu {
  &.drop-connect {
    @include breakpoint-down(phone) {
      right: 5px;
    }
  }
}

.navbar-expand .navbar-nav .nav-link {
  line-height: 60px;
  color: $cl-dark-light-9;
  font-size: 14px;
  outline: 0;

  @include breakpoint-down(phone) {
    color: $cl-white;

    &:hover {
      color: $cl-white;
    }
  }

  &--user {
    cursor: pointer;
    padding: 0 5px;

    .user-img {
      max-width: 32px;
      max-height: 32px;
      border-radius: 100%;
    }

    .user-name {
      margin-left: 8px;
      display: none;
      font-size: 1.077rem;
      line-height: 20px;

      @include breakpoint-down(phone) {
        display: block;
        flex: 1 1 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.dropdown-toggle:after {
      display: none;

      @include breakpoint-down(phone) {
        display: inline-block;
      }
    }
  }
}

.user-nav {
  @include breakpoint-down(phone) {
    margin: 0;
    display: inline-block;
    flex: 0 1 auto;
    overflow: hidden;
  }
}

.user-nav > #{$li}.dropdown {
  @include breakpoint-down(phone) {
    display: flex;
    align-items: center;
  }

  > #{$a} {
    @include breakpoint-down(phone) {
      align-items: center;
      display: flex;
      height: 60px;
      white-space: nowrap;
    }

    &.toggle-sidebar {
      @include breakpoint-down(phone) {
        display: inline-block;
        color: $cl-white;
        line-height: 60px;
        padding-left: 10px;
        padding-top: 2px;
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }

  .dropdown-menu {
    @include breakpoint-down(phone) {
      box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
      background-color: $cl-white;
      position: fixed;
      top: 60px;
      left: 25px;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 220px;
      z-index: 1020;
    }
  }
}
