// ======================================================
// Base :: Colors
// ======================================================

.cl {
  &--white {
    color: $cl-white;
  }

  &--dark {
    color: $cl-dark;
  }

  &--blue {
    color: $cl-blue;
  }

  &--red {
    color: $cl-red;
  }

  &--gray {
    color: $cl-gray;
  }

  &--green {
    color: $cl-green;
  }
}
