// ======================================================
// Base :: Global
// ======================================================

html {
  height: 100%;
  overflow-x: hidden;
  font-size: $font-size-small + 1;
}

body {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  margin: 0;
  font-size: $font-size-base - 1;
  line-height: 1.42857143;
  color: $cl-dark-light;
  text-align: left;
  padding: 0;
  background-color: $cl-gray;
  height: auto;
  min-height: 100%;
  padding-top: 61px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}

a {
  color: $cl-blue;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu {
  box-shadow: 0 0 6px 0 rgba($cl-dark, .12);
  border-radius: 3px;
  padding: 7px 0;
  min-width: 185px;
  line-height: 18px;
}

.glyphicon {
  display: inline-block;
  font: 14px/1 $font-icon;
  font-size: 1.615rem;
  text-rendering: auto;
}

.icon-arrow-left:before {
  content: '\f2fa';
}

.icon-arrow-right:before {
  content: '\f2fb';
}

.page-content {
  position: relative;
  left: 0;
  margin-left: 230px;
  min-height: 100%;

  @include breakpoint-down(phone) {
    margin-left: 0;
  }
}

[class*='col'] {
  @include breakpoint-down(smallphone) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-content {
  padding: 25px;

  .row {
    @include breakpoint-down(smallphone) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  @include breakpoint-down(phone) {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }

  @include breakpoint-down(smallphone) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.nowrap {
  flex-wrap: nowrap;
  margin: 0;

  .col,
  .col-auto {
    padding: 0;

    @include breakpoint-down(smallphone) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.card {
  background-color: $cl-white;
  margin-bottom: 25px;
  box-shadow: 0 0 4px 0 rgba($cl-dark, .04);
  border-width: 0;
  border-radius: 3px;
  display: block;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba($cl-dark, .6);
  padding: 0 14px;
  display: none;
  border-radius: 4px;
  z-index: 1071;

  &:hover {
    background-color: rgba($cl-dark, .8);
  }

  &:before {
    color: $cl-white;
    content: '\f2fc';
    font-family: $font-icon;
    font-size: 2.538rem;
    display: inline-block;
    vertical-align: middle;
  }
}

.loading {
  position: relative;

  &:after {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($cl-white, .7);
    transition: all .2s ease;
    z-index: 2;
  }

  .spinner {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -20px;
    margin-right: -20px;
    z-index: 3;

    svg {
      animation: spinner-rotation 1.4s linear infinite;
      stroke: $cl-blue;
    }

    svg .circle {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: spinner-turn 1.4s ease-in-out infinite;
    }
  }
}

.spinner {
  display: none;
}

.loading.active {
  &:after {
    visibility: visible;
    opacity: 1;
  }

  .spinner {
    display: block;
  }
}

@keyframes spinner-rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($cl-dark, .5);
  z-index: 1090;
  cursor: pointer;

  &.show {
    display: block;
  }
}

.fixed-top {
  z-index: 2001;
}
