// ======================================================
// Abstracts :: Variables
// ======================================================

$path-image: '../images';
$path-fonts: '../fonts';
$font-family-base : 'Roboto', 'Arial', sans-serif;
$font-icon: 'Material-Design-Iconic-Font';

$font-size-small  : 12px;
$font-size-base   : 14px;
$font-size-medium : 16px;
$font-size-large  : 18px;

$font-weight-light  : 300;
$font-weight-base   : 400;
$font-weight-medium : 500;
$font-weight-bold   : 600;

$border-radius-small  : 2px;
$border-radius-base   : 4px;
$border-radius-medium : 8px;

$z-indexes: (
  base    : 1,
  under   : -1,
  modal   : 1001,
  sidebar : 1000
);

$cl-white:#fff;
$cl-white-dark:#f7f7f7;
$cl-white-dark-1:#f0f0f0;
$cl-white-dark-2:#f6f6f6;

$cl-dark:#000;
$cl-dark-medium: #272727;
$cl-dark-light:#404040;
$cl-dark-light-1: #646464;
$cl-dark-light-2: #999;
$cl-dark-light-3: #666;
$cl-dark-light-4: #878787;
$cl-dark-light-5: #808080;

$cl-blue-light-2: #5e97f6;
$cl-blue-light:#4c8bf5;
$cl-blue: #4285f4;
$cl-blue-medium:#2572f2;
$cl-blue-dark:#1266f1;
$cl-blue-dark-1:#0c57d3;

$cl-red-light-3: #ef6e63;
$cl-red-light-2: #ed5f53;
$cl-red-light-1: #eb4c3e;
$cl-red-light:#ea4335;
$cl-red:#e12717;
$cl-red-dark: #e72919;
$cl-red-dark-1: #d62516;
$cl-red-dark-2: #b51f13;

$cl-yellow-light-1: #fbbf0f;
$cl-yellow-light: #fbbc05;
$cl-yellow:#d6a003;
$cl-yellow-medium: #daa50a;
$cl-yellow-dark: #ca9703;
$cl-yellow-dark-1: #dea604;
$cl-yellow-dark-2: #a77d03;

$cl-green-light: #34a853;
$cl-green-light-1: #2d9147;
$cl-green-light-2: #36b057;
$cl-green-light-3: #52b56d;
$cl-green:#2b8b45;
$cl-green-dark: #288140;
$cl-green-dark-1:#206632;

$cl-gray-light-2: #bdc0c7;
$cl-gray-light-1: #d5d8de;
$cl-gray-light:#dbdbdb;
$cl-gray: #eee;
$cl-gray-medium: #e3e3e3;
$cl-gray-dark:#bababa;
$cl-gray-dark-1: #a1a1a1;

$cl-yellow-light-2: #e3aa04;
$cl-red-dark-3: #e82e1e;
$cl-red-dark-4: #eb5e4c;
$cl-gray-medium-1: #c9c9c9;
$cl-gray-light-3: #b3b3b3;
$cl-gray-light-4: #e6e6e6;
$cl-gray-light-5: #e0e0e0;
$cl-gray-light-6: #ebebeb;
$cl-gray-light-7: #e4e4e4;
$cl-gray-light-8: #f5f5f5;
$cl-gray-light-9: #fafafa;
$cl-gray-light-10: #ebf2fe;
$cl-gray-light-11: #dce9fd;
$cl-gray-light-12: #f2f2f2;
$cl-gray-light-13: #c2c2c2;
$cl-gray-light-14: #d9d9d9;
$cl-gray-light-15: #e7e7e7;
$cl-gray-dark-2: #8a8a8a;
$cl-gray-dark-3: #ccc;
$cl-gray-dark-4: #ededed;
$cl-gray-dark-5: #ababab;
$cl-gray-dark-6: #c4c4c4;
$cl-gray-dark-7: #6b6b6b;
$cl-gray-dark-8: #5e5e5e;
$cl-gray-dark-9: #a3a3a3;
$cl-gray-dark-10: #a6a6a6;
$cl-gray-dark-11: #aaa;
$cl-gray-dark-12: #d1d1d1;
$cl-gray-dark-13: #595858;
$cl-gray-dark-14: #bad3fb;
$cl-green-light-4: #6cd187;
$cl-dark-light-6: #504e4e;
$cl-dark-light-7: #696969;
$cl-dark-light-8: #737373;
$cl-dark-light-9: #5a5a5a;
$cl-dark-light-10: #454545;
$cl-dark-light-11: #8c8c8c;
$cl-dark-light-12: #4d4d4d;
$cl-dark-light-13: #424242;
$cl-dark-light-14: #9d9d9d;
$cl-dark-light-15: #7a7a7a;
$cl-dark-light-16: #e8e8e8;
$cl-dark-light-17: #3b3b3b;
$cl-dark-light-18: #dee2e6;
$cl-dark-light-19: #7b7b7b;
$cl-dark-light-20: #b0b0b0;
$cl-dark-light-21: #5f5f5f;
$cl-dark-light-22: #707070;
$cl-blue-light-3: #5f99f5;
$cl-blue-light-4: #3d84f3;
$cl-blue-light-5: #81adf8;
$cl-blue-light-6: #a2c3fa;
$cl-blue-dark-3: #5d82d1;
$cl-blue-dark-4: #4386f4;
$cl-yellow-light-2: #f6c163;
$cl-yellow-light-3: #f4b441;
$cl-yellow-light-4: #f2c329;
$cl-yellow-light-5: #fde19a;
$cl-yellow-light-6: #fdf59a;
$cl-yellow-light-7: #fbed50;
$cl-yellow-light-8: #fbf069;
$cl-green-light-4: #37b358;
$cl-green-light-5: #2f984b;
$cl-green-light-6: #00b777;
$cl-red-light-4: #eb6357;
$cl-red-light-5: #e74537;
$cl-red-light-6: #e65a5a;
$cl-blue-dark-2:#006dcc;
$cl-blue-dark-3:#002a80;
$cl-blue-dark-5:#04c;
$cl-blue-dark-6:#039;

