// ======================================================
// Abstracts :: Variables
// ======================================================

$path-image: '../images';
$path-fonts: '../fonts';
$font-family-base : 'Roboto', 'Arial', sans-serif;

$font-size-small  : 12px;
$font-size-base   : 14px;
$font-size-medium : 16px;
$font-size-large  : 18px;

$font-weight-light: 300;
$font-weight-base : 400;
$font-weight-bold : 600;

$border-radius-small : 2px;
$border-radius-base  : 4px;
$border-radius-medium: 8px;

$z-indexes: (
  base    : 1,
  under   : -1,
  modal   : 1001,
  sidebar : 1000
);
