//-------------------------------------------------------
//- Styleguides :: Checkbox
//-------------------------------------------------------

.row
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Basic Checkbox
      .demo
        +checkboxes({
          id: 'check3',
          checked: true,
          label: 'Option 1'
        })
        +checkboxes({
          id: 'check4',
          checked: false,
          label: 'Option 2'
        })
        +checkboxes({
          id: 'check5',
          checked: false,
          label: 'Option 3'
        })
      pre
        code
          |+checkboxes({
          |  id: 'check3',
          |  checked: true,
          |  label: 'Option 1'
          |})
          |+checkboxes({
          |  id: 'check4',
          |  checked: false,
          |  label: 'Option 2'
          |})
          |+checkboxes({
          |  id: 'check5',
          |  checked: false,
          |  label: 'Option 3'
          |})
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Inline Checkbox
      .demo
        +checkboxes({
          id: 'check6',
          checked: true,
          label: 'Option 1'
        })(class="custom-control-checkbox--inline")
        +checkboxes({
          id: 'check7',
          checked: false,
          label: 'Option 2'
        })(class="custom-control-checkbox--inline")
        +checkboxes({
          id: 'check8',
          checked: false,
          label: 'Option 3'
        })(class="custom-control-checkbox--inline")
      pre
        code
          |+checkboxes({
          |  id: 'check6',
          |  checked: true,
          |  label: 'Option 1'
          |})(class="custom-control-checkbox--inline")
          |+checkboxes({
          |  id: 'check7',
          |  checked: false,
          |  label: 'Option 2'
          |})(class="custom-control-checkbox--inline")
          |+checkboxes({
          |  id: 'check8',
          |  checked: false,
          |  label: 'Option 3'
          |})(class="custom-control-checkbox--inline")

.row
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
      .code-example
        h4.h4 Checkbox full color
        .demo
          +checkboxes({
            id: 'check9',
            checked: true,
            label: 'Option 1'
          })(class="custom-control-checkbox--color custom-control-checkbox--inline")
          +checkboxes({
            id: 'check10',
            checked: false,
            label: 'Option 2'
          })(class="custom-control-checkbox--color custom-control-checkbox--inline")
          +checkboxes({
            id: 'check11',
            checked: false,
            label: 'Option 3'
          })(class="custom-control-checkbox--color custom-control-checkbox--inline")
        pre
          code
            |+checkboxes({
            |  id: 'check9',
            |  checked: true,
            |  label: 'Option 1'
            |})(class="custom-control-checkbox--color custom-control-checkbox--inline")
            |+checkboxes({
            |  id: 'check10',
            |  checked: false,
            |  label: 'Option 2'
            |})(class="custom-control-checkbox--color custom-control-checkbox--inline")
            |+checkboxes({
            |  id: 'check11',
            |  checked: false,
            |  label: 'Option 3'
            |})(class="custom-control-checkbox--color custom-control-checkbox--inline")
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
      .code-example
        h4.h4 Checkbox validation
        .demo
          +checkboxes({
            id: 'check12',
            checked: true,
            valid: true,
            label: 'Success'
          })
          +checkboxes({
            id: 'check13',
            checked: false,
            valid: false,
            label: 'Error'
          })
        pre
          code
            |+checkboxes({
            |  id: 'check12',
            |  checked: true,
            |  valid: true,
            |  label: 'Success'
            |})
            |+checkboxes({
            |  id: 'check13',
            |  checked: false,
            |  valid: false,
            |  label: 'Error'
            |})

.row
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
      .code-example
        h4.h4 Checkbox validation full color
        .demo
          +checkboxes({
            id: 'check14',
            checked: true,
            valid: true,
            label: 'Success'
          })(class="custom-control-checkbox--valid custom-control-checkbox--inline")
          +checkboxes({
            id: 'check15',
            checked: false,
            valid: false,
            label: 'Error'
          })(class="custom-control-checkbox--invalid custom-control-checkbox--inline")
        pre
          code
            |+checkboxes({
            |  id: 'check12',
            |  checked: true,
            |  valid: true,
            |  label: 'Success'
            |})
            |+checkboxes({
            |  id: 'check13',
            |  checked: false,
            |  valid: false,
            |  label: 'Error'
            |})
