//-------------------------------------------------------
//- Styleguides :: Radio
//-------------------------------------------------------

.row
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Icon Radio
      .demo
        +radio({
          id: 'radio1',
          name: 'radio',
          checked: true,
          icon: 'zmdi zmdi-female'
        })(class='custom-control-radio--inline')
        +radio({
          id: 'radio2',
          name: 'radio',
          icon: 'zmdi zmdi-male'
        })(class='custom-control-radio--inline')

        +radio({
          id: 'radio3',
          name: 'radio1',
          checked: true,
          icon: 'zmdi zmdi-female',
          disabled: true
        })(class='custom-control-radio--inline')
        +radio({
          id: 'radio4',
          name: 'radio1',
          icon: 'zmdi zmdi-male',
          disabled: true
        })(class='custom-control-radio--inline')
      pre
        code
          |+radio({
          |  id: 'radio1',
          |  name: 'radio',
          |  checked: true,
          |  icon: 'zmdi zmdi-female'
          |})(class='custom-control-radio--inline')
          |+radio({
          |  id: 'radio2',
          |  name: 'radio',
          |  icon: 'zmdi zmdi-male'
          |})(class='custom-control-radio--inline')
          |
          |+radio({
          |  id: 'radio3',
          |  name: 'radio1',
          |  checked: true,
          |  icon: 'zmdi zmdi-female',
          |  disabled: true
          |})(class='custom-control-radio--inline')
          |+radio({
          |  id: 'radio4',
          |  name: 'radio1',
          |  icon: 'zmdi zmdi-male',
          |  disabled: true
          |})(class='custom-control-radio--inline')
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Radio
      .demo
        +radio({
          id: 'radio5',
          name: 'radio2',
          label: 'Option 1',
          checked: true,
        })
        +radio({
          id: 'radio6',
          name: 'radio2',
          label: 'Option 2',
        })
        +radio({
          id: 'radio7',
          name: 'radio2',
          label: 'Option 3',
        })
        +radio({
          id: 'radio8',
          name: 'radio2',
          label: 'Option 4',
          disabled: true
        })
      pre
        code
          |+radio({
          |  id: 'radio5',
          |  name: 'radio2',
          |  label: 'Option 1',
          |  checked: true,
          |})
          |+radio({
          |  id: 'radio6',
          |  name: 'radio2',
          |  label: 'Option 2',
          |})
          |+radio({
          |  id: 'radio7',
          |  name: 'radio2',
          |  label: 'Option 3',
          |})
          |+radio({
          |  id: 'radio8',
          |  name: 'radio2',
          |  label: 'Option 4',
          |  disabled: true
          |})

.row
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Inline Radio
      .demo
        +radio({
          id: 'radio9',
          name: 'radio3',
          label: 'Option 1',
          checked: true,
        })(class='custom-control-radio--inline')
        +radio({
          id: 'radio10',
          name: 'radio3',
          label: 'Option 2',
        })(class='custom-control-radio--inline')
        +radio({
          id: 'radio11',
          name: 'radio3',
          label: 'Option 3',
        })(class='custom-control-radio--inline')
        +radio({
          id: 'radio12',
          name: 'radio3',
          label: 'Option 4',
          disabled: true
        })(class='custom-control-radio--inline')
      pre
        code
          |+radio({
          |  id: 'radio9',
          |  name: 'radio3',
          |  label: 'Option 1',
          |  checked: true,
          |})(class='custom-control-radio--inline')
          |+radio({
          |  id: 'radio10',
          |  name: 'radio3',
          |  label: 'Option 2',
          |})(class='custom-control-radio--inline')
          |+radio({
          |  id: 'radio11',
          |  name: 'radio3',
          |  label: 'Option 3',
          |})(class='custom-control-radio--inline')
          |+radio({
          |  id: 'radio12',
          |  name: 'radio3',
          |  label: 'Option 4',
          |  disabled: true
          |})(class='custom-control-radio--inline')

  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Inline Radio Full Color
      .demo
        +radio({
          id: 'radio13',
          name: 'radio4',
          label: 'Option 1',
          checked: true,
        })(class='custom-control-radio--inline custom-control-radio--color')
        +radio({
          id: 'radio14',
          name: 'radio4',
          label: 'Option 2',
        })(class='custom-control-radio--inline custom-control-radio--color')
        +radio({
          id: 'radio15',
          name: 'radio4',
          label: 'Option 3',
        })(class='custom-control-radio--inline custom-control-radio--color')
        +radio({
          id: 'radio16',
          name: 'radio4',
          label: 'Option 4',
          disabled: true
        })(class='custom-control-radio--inline custom-control-radio--color')
      pre
        code
          |+radio({
          |  id: 'radio13',
          |  name: 'radio4',
          |  label: 'Option 1',
          |  checked: true,
          |})(class='custom-control-radio--inline custom-control-radio--color')
          |+radio({
          |  id: 'radio14',
          |  name: 'radio4',
          |  label: 'Option 2',
          |})(class='custom-control-radio--inline custom-control-radio--color')
          |+radio({
          |  id: 'radio15',
          |  name: 'radio4',
          |  label: 'Option 3',
          |})(class='custom-control-radio--inline custom-control-radio--color')
          |+radio({
          |  id: 'radio16',
          |  name: 'radio4',
          |  label: 'Option 4',
          |  disabled: true
          |})(class='custom-control-radio--inline custom-control-radio--color')

.row
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Radio valid
      .demo
        +radio({
          id: 'radio17',
          name: 'radio5',
          label: 'Success',
          checked: true,
          valid: true
        })
        +radio({
          id: 'radio18',
          name: 'radio5',
          label: 'Error',
          valid: false
        })

        +radio({
          id: 'radio19',
          name: 'radio6',
          label: 'Success',
          checked: true,
          valid: true,
          disabled: true
        })
        +radio({
          id: 'radio20',
          name: 'radio6',
          label: 'Error',
          valid: false,
          disabled: true
        })
      pre
        code
          |+radio({
          |  id: 'radio17',
          |  name: 'radio5',
          |  label: 'Success',
          |  checked: true,
          |  valid: true
          |})
          |+radio({
          |  id: 'radio18',
          |  name: 'radio5',
          |  label: 'Error',
          |  valid: false
          |})
          |
          |+radio({
          |  id: 'radio19',
          |  name: 'radio6',
          |  label: 'Success',
          |  checked: true,
          |  valid: true,
          |  disabled: true
          |})
          |+radio({
          |  id: 'radio20',
          |  name: 'radio6',
          |  label: 'Error',
          |  valid: false,
          |  disabled: true
          |})

  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Radio valid inline
      .demo
        +radio({
          id: 'radio21',
          name: 'radio7',
          label: 'Success',
          checked: true,
          valid: true
        })(class='custom-control-radio--inline')
        +radio({
          id: 'radio22',
          name: 'radio7',
          label: 'Error',
          valid: false
        })(class='custom-control-radio--inline')

        +radio({
          id: 'radio23',
          name: 'radio8',
          label: 'Success',
          checked: true,
          valid: true,
          disabled: true
        })(class='custom-control-radio--inline')
        +radio({
          id: 'radio24',
          name: 'radio8',
          label: 'Error',
          valid: false,
          disabled: true
        })(class='custom-control-radio--inline')
      pre
        code
          |+radio({
          |  id: 'radio21',
          |  name: 'radio7',
          |  label: 'Success',
          |  checked: true,
          |  valid: true
          |})(class='custom-control-radio--inline')
          |+radio({
          |  id: 'radio22',
          |  name: 'radio7',
          |  label: 'Error',
          |  valid: false
          |})(class='custom-control-radio--inline')
          |
          |+radio({
          |  id: 'radio23',
          |  name: 'radio8',
          |  label: 'Success',
          |  checked: true,
          |  valid: true,
          |  disabled: true
          |})(class='custom-control-radio--inline')
          |+radio({
          |  id: 'radio24',
          |  name: 'radio8',
          |  label: 'Error',
          |  valid: false,
          |  disabled: true
          |})(class='custom-control-radio--inline')

.row
  .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    .code-example
      h4.h4 Radio valid inline full color
      .demo
        +radio({
          id: 'radioIcon25',
          name: 'radio9',
          label: 'Success',
          checked: true,
          valid: true
        })(class='custom-control-radio--inline custom-control-radio--color')
        +radio({
          id: 'radio26',
          name: 'radio9',
          label: 'Error',
          valid: false
        })(class='custom-control-radio--inline custom-control-radio--color')

        +radio({
          id: 'radio27',
          name: 'radio10',
          label: 'Success',
          checked: true,
          valid: true,
          disabled: true
        })(class='custom-control-radio--inline custom-control-radio--color')
        +radio({
          id: 'radio28',
          name: 'radio10',
          label: 'Error',
          valid: false,
          disabled: true
        })(class='custom-control-radio--inline custom-control-radio--color')
      pre
        code
          |+radio({
          |  id: 'radioIcon25',
          |  name: 'radio9',
          |  label: 'Success',
          |  checked: true,
          |  valid: true
          |})(class='custom-control-radio--inline custom-control-radio--color')
          |+radio({
          |  id: 'radio26',
          |  name: 'radio9',
          |  label: 'Error',
          |  valid: false
          |})(class='custom-control-radio--inline custom-control-radio--color')
          |
          |+radio({
          |  id: 'radio27',
          |  name: 'radio10',
          |  label: 'Success',
          |  checked: true,
          |  valid: true,
          |  disabled: true
          |})(class='custom-control-radio--inline custom-control-radio--color')
          |+radio({
          |  id: 'radio28',
          |  name: 'radio10',
          |  label: 'Error',
          |  valid: false,
          |  disabled: true
          |})(class='custom-control-radio--inline custom-control-radio--color')
