// ======================================================
// Pages :: Home
// ======================================================

.widget {
  background-color: $cl-white;
  border-radius: 3px;
  padding: 24px 20px;
  margin-bottom: 25px;

  .chart {
    width: 85px;
    min-height: 45px;
    padding: 7px 0;
    vertical-align: middle;
  }
}

.data-info {
  text-align: right;

  .desc {
    font-size: 1.077rem;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    font-size: 1.693rem;
    font-weight: $font-weight-light;
  }

  .indicator {
    font-size: 1.923rem;
    margin-right: 7px;
    line-height: 24px;
    vertical-align: middle;

    &--equal {
      color: $cl-blue;
    }

    &--positive {
      color: $cl-green-light;
    }

    &--negative {
      color: $cl-red-light;
    }
  }
}

.index {

  .btn {
    font-weight: $font-weight-bold;
    font-size: 1rem;
    line-height: 28px;
    border-radius: 2px;
    padding: 0 10px;
  }

  .btn-group {
    &.today {
      margin-left: 10px;
    }
  }

  .card-header {
    font-size: 18px;
    font-weight: $font-weight-light;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5384rem;
    margin: 0 1.538rem;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    background-color: transparent;

    .title {
      margin: 0;
      line-height: normal;
      color: inherit;
      display: block;
      font-size: 1.385rem;
      font-weight: $font-weight-light;
    }
  }

  .table-responsive {
    padding: 0;
    border: 0;
    margin-bottom: 0;
  }
}

.table-stats {
  .card-header {
    display: flex;
    border-bottom: 0;
    justify-content: space-between;

    i {
      display: inline-block;
      font-size: 1.538rem;
      line-height: 25px;
      vertical-align: middle;
      cursor: pointer;
      color: $cl-gray-dark;
      min-width: 1.538rem;
      text-align: center;

      &:hover {
        color: $cl-gray-dark-10;
      }
    }
  }

  .title {
    margin: 0;
    line-height: normal;
    color: inherit;
    display: block;
    font-size: 1.385rem;
    font-weight: $font-weight-light;
  }
}

.card-table {
  table {
    margin-bottom: 0;
  }

  thead tr th {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  tr {

    &:first-child th,
    &:first-child td {
      border-top: 0;
    }

    td:last-child,
    th:last-child {
      padding-right: 20px;
    }

    td:first-child,
    th:first-child {
      padding-left: 20px;
    }
  }
}

.table > tbody > tr > td {
  font-weight: $font-weight-base;
  vertical-align: middle;
}

.table-responsive tbody > tr > td {
  padding-top: 11px;
  padding-bottom: 11px;
}

.table-index {
  border: 0;

  &.table {

    th,
    td {
      white-space: normal;

      @include breakpoint-down(phone) {
        white-space: nowrap;
      }
    }
  }

  th,
  thead th {
    border: 0;
  }

  #{$th}.number,
  #{$td}.number {
    text-align: right;
  }

  #{$td}.user-avatar img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;

    @include breakpoint-down(phone) {
      display: none;
    }
  }
}

.table tr {

  #{$td}.actions,
  #{$th}.actions {
    text-align: center;
  }

  #{$td}.actions .icon,
  #{$th}.actions .icon {
    color: $cl-gray-dark-1;
    font-size: 1.3846rem;
    line-height: 18px;
  }

  #{$td}.actions .icon:hover,
  #{$th}.actions .icon:hover {
    color: $cl-dark-light-5;
  }
}

.table-hover tbody tr:hover {
  background-color: $cl-white-dark-1;
}

.table #{$th},
.table #{$td} {
  white-space: nowrap;

  &.number {
    text-align: right;
  }
}

.dropdown-menu > .dropdown-item {
  font-weight: $font-weight-base;
  color: $cl-dark-light-6;
  padding: 8px 20px;
  cursor: pointer;
}

.card-header {
  &.card-header-divider {
    border-bottom: 1px solid $cl-gray-light-14;
    margin: 0 1.538rem 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
  }
}

.user-progress {
  &--small {
    margin-bottom: 20px;

    .title {
      display: inline-block;
      margin-bottom: 10px;
    }

    .progress {
      margin-top: 5px;
      height: 5px;
      border-radius: 5px;
      margin-bottom: 0;
    }

    .progress-bar {
      border-radius: 5px;
    }
  }
}

.chartjs {
  background-color: $cl-white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 3px;

  &-head {
    margin-bottom: 20px;
    display: block;
    border-radius: 3px 3px 0 0;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    .title {
      margin: 0;
      line-height: normal;
      color: inherit;
      display: inline-block;
      font-size: 1.385rem;
      font-weight: $font-weight-light;
    }

    .list-icon {
      float: right;
    }

    .icon {
      display: inline-block;
      font-size: 1.538rem;
      line-height: 25px;
      vertical-align: middle;
      cursor: pointer;
      color: $cl-gray-dark;
      min-width: 1.538rem;
      text-align: center;
    }
  }

  &-body {
    position: relative;
  }

  &-counter {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    line-height: 3.846rem;
    margin-top: -1.923rem;
    font-size: 3.846rem;
    font-weight: $font-weight-light;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    margin: 0 0 9px;
  }

  &-type {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    vertical-align: middle;

    &.primary {
      background-color: $cl-blue;
    }

    &.success {
      background-color: $cl-green-light;
    }

    &.warning {
      background-color: $cl-yellow-light;
    }
  }
}

.card-body {
  padding: 8px 20px 20px;
  border-radius: 0 0 3px 3px;
}

.user-timeline {
  padding: 0;
  margin: 5px 0 15px;
  list-style: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 7px;
    top: 2px;
    height: 100%;
    width: 2px;
    background-color: $cl-yellow-light-9;
  }

  &:after {
    content: '';
    position: absolute;
    left: 4px;
    bottom: -2px;
    height: 8px;
    width: 8px;
    background-color: $cl-yellow-light-9;
    border-radius: 50%;
  }

  #{$li} {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-bottom: 35px;

    &:last-child {
      padding-bottom: 25px;
    }

    &.latest:before {
      background-color: $cl-yellow-light-9;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      height: 16px;
      width: 16px;
      background-color: $cl-white;
      border-radius: 50%;
      border: 1px solid $cl-yellow-light-9;
    }
  }

  &-date {
    float: right;
    text-transform: capitalize;
    margin-bottom: 0;
    line-height: 22px;
    color: $cl-dark-light-8;
  }

  &-title {
    font-size: 1.385rem;
    font-weight: $font-weight-light;
  }

  &-description {
    color: $cl-dark-light-8;
    margin-top: 4px;
  }
}

.widget-map {
  position: relative;

  .value {
    font-size: 1.846rem;
  }

  .des {
    text-transform: uppercase;
    font-size: .8462rem;
    color: $cl-dark-light-14;
  }

  .icon {
    font-size: 1.923rem;
    margin-right: 7px;
    line-height: 24px;
    vertical-align: middle;
    color: $cl-green-light;
  }

  [data-toggle='counter'] {
    font-size: 1.538rem;
    vertical-align: middle;
  }
}

.jqvmap-region {
  cursor: pointer;
}

.jqvmap-label {
  position: absolute;
  display: none;
  border-radius: 3px;
  background: $cl-dark-medium-1;
  color: $cl-white;
  font-family: $font-family-map;
  font-size: smaller;
  padding: 3px;
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  width: 30px;
  height: 30px;
  background-color: $cl-gray-light-14;
  color: $cl-dark-light-15;
  font-size: 22px;
  text-align: center;
  border-radius: 0;
  top: auto;
  left: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;

  &:hover {
    background-color: $cl-gray-medium-1;
  }
}

.jqvmap-zoomin {
  left: 43px;
}

.widget-chart {
  padding: 0;
  &-head .dropdown-menu {
    right: 0;
    left: auto;
  }

  &-head .btn-group {
    @include breakpoint-down(phone) {
      display: none;
    }
  }

  .widget-head {
    padding: 20px 20px 10px;
    margin-bottom: 0;
  }
}

.widget-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .title {
    margin: 0;
    line-height: normal;
    color: inherit;
    display: block;
    font-size: 1.385rem;
    font-weight: $font-weight-light;
  }

  .btn {
    box-shadow: 0 1px 0 rgba($cl-dark, .05);
  }

  .list-icon {
    margin-left: 10px;

    @include breakpoint-down(phone) {
      margin-left: 0;
    }

    .icon {
      display: inline-block;
      font-size: 1.538rem;
      line-height: 25px;
      vertical-align: middle;
      cursor: pointer;
      color: $cl-gray-dark;
      min-width: 1.538rem;
      text-align: center;
      margin-left: 2px;
    }
  }

  .dropdown-btn {
    @media (min-width: 768px) {
      display: none;
    }

    .icon {
      display: inline-block;
      font-size: 1.538rem;
      line-height: 25px;
      vertical-align: middle;
      cursor: pointer;
      color: $cl-gray-dark;
      min-width: 1.538rem;
      text-align: center;
      margin-left: 2px;
    }
  }
}

.widget-chart-info {
  padding: 9px 20px 0;

  .chart-legend {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 14px;

    li {
      display: inline-block;

      & + li {
        margin-left: 14px;
      }
    }

    li #{$span} {
      position: relative;
      display: inline-block;
      margin-right: 4px;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      background-color: $cl-gray-light-12;

      &.p1 {
        background-color: $cl-blue-dark-4;
      }

      &.p2 {
        background-color: $cl-blue-light-5;
      }

      &.p3 {
        background-color: $cl-blue-light-6;
      }
    }
  }
}

.widget-group-right {
  text-align: right;
  padding: 0 20px 10px;

  @include breakpoint-down(phone) {
    margin-top: 15px;
  }

  .counter {
    + .counter {
      margin-left: 20px;
    }

    display: inline-block;

    .value {
      display: block;
      font-size: 2.077rem;
      line-height: 2.077rem;
      font-weight: $font-weight-light;
      margin-bottom: 5px;
    }

    .desc {
      text-transform: uppercase;
      font-size: .8462rem;
      color: $cl-dark-light-14;
    }
  }
}
