// ======================================================
// Pages :: Forgot password
// ======================================================

.page-forgot-password {
  margin-top: -61px;

  .forgot {
    max-width: 401px;
    margin: 50px auto;
  }

  .card {
    border-top-color: $cl-blue;
    border-top-width: 3px;
    margin-bottom: 30px;
  }

  .card-header {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 0;
    background: $cl-white;
    border-bottom: 0;
    font-weight: 300;
  }

  .card-body {
    padding: 10px 30px 15px;
  }

  .form-group {
    padding-top: 1.539rem;
    margin-bottom: 1.538rem;
  }

  .footer {
    text-align: center;
  }
}

.forgot {
  &__img {
    max-height: 27px;
    display: block;
    margin: auto;
  }

  &__des {
    text-align: center;
    display: block;
    line-height: 20px;
    font-size: 1rem;
    margin-top: 11px;
    padding-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
    font-size: inherit;
    line-height: 21px;
    white-space: nowrap;
  }

  .msg {
    padding-top: .384615rem;
    padding-bottom: 1.539rem;
  }

  .btn {
    margin-bottom: 1.538rem;
    font-size: 1.1538rem;
    display: block;
    width: 100%;
  }
}
