// ======================================================
// Components :: Datetimepicker
// ======================================================

.datetimepicker {
  flex: 1 1 auto;
  width: auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  + .btn {
    padding: 0 13px 0 15px;
    line-height: 23px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    i {
      font-size: 1.846rem;
      vertical-align: middle;
    }
  }
}
