extends modules/layout/_page-default
 
block head
  +head('Beagle')

block main
  .page-forgot-password
    .main-content.container-fluid
      .forgot
        .card.card-primary
          .card-header
            a(href="be-01-index.html" title="Back to homepage")
              img.forgot__img(src="images/logo-xx.png", alt="")
            span.forgot__des Forgot your password?
          .card-body
            +form-forgot-password()
        .footer
          | © 2018 Your Company
