extends modules/layout/_page-default

block head
  +head('Beagle')

block main
  +header("Dashboard")
  +sidebarLeft("be-01-index.html")
  +sidebarRight()
  section.page-content.index
    .main-content.container-fluid
      .row
        .col-12.col-lg-6.col-xl-3
          .widget
            .row.nowrap
              .col-auto
                .chart.sparkline#chart1
              .col
                .data-info
                  .desc New Users
                  .value
                    i.indicator.indicator--equal.zmdi.zmdi-chevron-right
                    span.number(data-toggle= "counter" data-end= "113") 0
        .col-12.col-lg-6.col-xl-3
          .widget
            .row.nowrap
              .col-auto
                .chart.sparkline#chart2
              .col
                .data-info
                  .desc Monthly Sales
                  .value
                    i.indicator.indicator--positive.zmdi.zmdi-chevron-up
                    span.number(data-toggle="counter" data-end="80" data-suffix="%") 0
        .col-12.col-lg-6.col-xl-3
          .widget
            .row.nowrap
              .col-auto
                .chart.sparkline#chart3
              .col
                .data-info
                  .desc Impressions
                  .value
                    i.indicator.indicator--positive.zmdi.zmdi-chevron-up
                    span.number(data-toggle="counter" data-end="532") 0
        .col-12.col-lg-6.col-xl-3
          .widget
            .row.nowrap
              .col-auto
                .chart.sparkline#chart4
              .col
                .data-info
                  .desc Downloads
                  .value
                    i.indicator.indicator--negative.zmdi.zmdi-chevron-down
                    span.number(data-toggle="counter" data-end="113") 0
      .row
        .col-12
          .widget.widget-chart.loading
            .widget-head.widget-chart-head
              h2.title Recent Movement
              .dropdown.d-flex
                .btn-group
                  +buttons({
                    type: 'secondary',
                    text: 'Week',
                    size: 'md'
                  })
                  +buttons({
                    type: 'secondary',
                    text: 'Month',
                    size: 'md'
                  })(class='active')
                  +buttons({
                    type: 'secondary',
                    text: 'Year',
                    size: 'md'
                  })
                .btn-group.today
                  +buttons({
                    type: 'secondary',
                    text: 'Today',
                    size: 'md'
                  })
                a(class="dropdown-btn" href="#" role="button" data-toggle="dropdown"  data-display="static")
                  i.icon.zmdi.zmdi-more-vert
                .dropdown-menu
                  a.dropdown-item Week
                  a.dropdown-item Month
                  a.dropdown-item Year
                  .dropdown-divider
                  a.dropdown-item Today
                .list-icon
                  i.icon.zmdi.zmdi-chevron-down
                  i.icon.zmdi.zmdi-refresh-sync.toggle-loading
                  i.icon.zmdi.zmdi-close
            .widget-body
              .widget-chart-info
                ul.chart-legend
                  li
                    span.p1
                    | Purchases
                  li
                    span.p2
                    | Plans
                  li
                    span.p3
                    | Services
              .widget-group.widget-group-right
                .counter.counter-big
                  .value 25%
                  .desc Purchase
                .counter.counter-big
                  .value 5%
                  .desc Plans
                .counter.counter-big
                  .value 5%
                  .desc Services
              #main-chart(style="height: 260px")
              .spinner
                svg(width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg")
                  circle(class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30")
      .row
        .col-12.col-lg-6
          .card.card-table.table-stats
            .card-header
              h2.title Purchases
              .dropdown
                .dropdown__btn
                  i.zmdi.zmdi-download
                  a(class="dropdown-btn" href="#" role="button" data-toggle="dropdown")
                    i.zmdi.zmdi-more-vert
                  .dropdown-menu
                    a.dropdown-item Action
                    a.dropdown-item Another action
                    a.dropdown-item Something else here
                    .dropdown-divider
                    a.dropdown-item Separated link
            .card-body.table-responsive
              table(class="table table-striped")
                thead
                  tr
                    th(style="width:40%") Product
                    th(class="number") Price
                    th(style="width:20%") Date
                    th(style="width:20%") State
                    th(class="actions" style="width:5%")
                tbody
                  tr
                    td Sony Xperia M4
                    td(class="number") $149
                    td Aug 23, 2018
                    td(class="text-success") Completed
                    td(class="actions")
                      a(class="icon" href="#")
                        i(class="zmdi zmdi-plus-circle-o")
                  tr
                    td Apple iPhone 6
                    td(class="number") $535
                    td Aug 20, 2018
                    td(class="text-success") Completed
                    td(class="actions")
                      a(class="icon" href="#")
                        i(class="zmdi zmdi-plus-circle-o")
                  tr
                    td Samsung Galaxy S7
                    td(class="number") $583
                    td Aug 18, 2018
                    td(class="text-warning") Pending
                    td(class="actions")
                      a(class="icon" href="#")
                        i(class="zmdi zmdi-plus-circle-o")
                  tr
                    td HTC One M9
                    td(class="number") $350
                    td Aug 15, 2018
                    td(class="text-warning") Pending
                    td(class="actions")
                      a(class="icon" href="#")
                          i(class="zmdi zmdi-plus-circle-o")
                  tr
                    td Sony Xperia Z5
                    td(class="number") $495
                    td Aug 13, 2018
                    td(class="text-danger") Cancelled
                    td(class="actions")
                      a(class="icon" href="#")
                          i(class="zmdi zmdi-plus-circle-o")
        .col-12.col-lg-6
          .card.card-table.table-stats
            .card-header
              h2.title Latest Commits
              .dropdown
                .dropdown__btn
                  i.zmdi.zmdi-download
                  a(class="dropdown-btn" href="#" role="button" data-toggle="dropdown")
                    i.zmdi.zmdi-more-vert
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item Action
                    a.dropdown-item Another action
                    a.dropdown-item Something else here
                    .dropdown-divider
                    a.dropdown-item Separated link
            .card-body.table-responsive
              table(class="table table-striped table-index")
                thead
                  tr
                    th(style="width:37%") User
                    th(style="width:36%") Commit
                    th Date
                    th(class="actions")
                tbody
                  tr
                    td(class="user-avatar")
                      img(src="images/avatar6.png", alt="")
                      | Penelope Thornton
                    td Topbar dropdown style
                    td Aug 16, 2018
                    td(class="actions")
                      a(class="icon" href="#")
                        i(class="zmdi zmdi-github-alt")
                  tr
                    td(class="user-avatar")
                      img(src="images/avatar4.png", alt="")
                      | Benji Harper
                    td Left sidebar adjusments
                    td Jul 15, 2018
                    td(class="actions")
                      a(class="icon" href="#")
                        i(class="zmdi zmdi-github-alt")
                  tr
                    td(class="user-avatar")
                      img(src="images/avatar5.png", alt="")
                      | Justine Myranda
                    td Main structure markup
                    td Jul 28, 2018
                    td(class="actions")
                      a(class="icon" href="#")
                        i(class="zmdi zmdi-github-alt")
                  tr
                    td(class="user-avatar")
                      img(src="images/avatar3.png", alt="")
                      | Sherwood Clifford
                    td Initial commit
                    td Jun 30, 2018
                    td(class="actions")
                      a(class="icon" href="#")
                        i(class="zmdi zmdi-github-alt")
      .row
        .col-12.col-lg-4
          .card
            .card-header.card-header-divider
              h2.title Current Progress
            .card-body
              .row.user-progress.user-progress--small
                .col-lg-5
                  span.title Bootstrap Admin
                .col-lg-7
                  .progress
                    .progress-bar.bg-success(style="width:40%")
              .row.user-progress.user-progress--small
                .col-lg-5
                  span.title Custom Work
                .col-lg-7
                  .progress
                    .progress-bar.bg-success(style="width:65%")
              .row.user-progress.user-progress--small
                .col-lg-5
                  span.title Clients Module
                .col-lg-7
                  .progress
                    .progress-bar.bg-success(style="width:30%")
              .row.user-progress.user-progress--small
                .col-lg-5
                  span.title Email Templates
                .col-lg-7
                  .progress
                    .progress-bar.bg-success(style="width:80%")
              .row.user-progress.user-progress--small
                .col-lg-5
                  span.title Plans Module
                .col-lg-7
                  .progress
                    .progress-bar.bg-success(style="width:45%")
        .col-12.col-lg-4
          .chartjs.loading
            .chartjs-head
              h2.title Top Sales
              .list-icon
                i.icon.zmdi.zmdi-chevron-down
                i.icon.zmdi.zmdi-refresh-sync.toggle-loading
                i.icon.zmdi.zmdi-close
            .chartjs-body
              #top-sale(style="height: 178px;")
              .chartjs-counter 36
            .chartjs-legend
              .chartjs-item
                .chartjs-title
                  span.chartjs-type.success
                  span.chartjs-txt Premium Purchases
                .chartjs-value 125
              .chartjs-item
                .chartjs-title
                  span.chartjs-type.warning
                  span.chartjs-txt Standard Plans
                .chartjs-value 1569
              .chartjs-item
                .chartjs-title
                  span.chartjs-type.primary
                  span.chartjs-txt Services
                .chartjs-value 824
            .spinner
                svg(width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg")
                  circle(class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30")
        .col-12.col-lg-4
          .widget.widget-calendar
              #calendar
      .row
        .col-12.col-lg-6
          .card
            .card-header
              h2.title Latest Activity
            .card-body
              ul.user-timeline
                li.latest
                  .user-timeline-date Just Now
                  .user-timeline-title Create New Page
                  .user-timeline-description Vestibulum lectus nulla, maximus in eros non, tristique.
                li
                  .user-timeline-date Today - 15:35
                  .user-timeline-title Back Up Theme
                  .user-timeline-description Vestibulum lectus nulla, maximus in eros non, tristique.
                li
                  .user-timeline-date Yesterday - 10:41
                  .user-timeline-title Changes In The Structure
                  .user-timeline-description Vestibulum lectus nulla, maximus in eros non, tristique.
                li
                  .user-timeline-date Yesterday - 3:02
                  .user-timeline-title Fix the Sidebar
                  .user-timeline-description Vestibulum lectus nulla, maximus in eros non, tristique.
        .col-12.col-lg-6
          .chartjs.loading
            .chartjs-head
              h2.title Conversions
              .list-icon
                i.icon.zmdi.zmdi-chevron-down
                i.icon.zmdi.zmdi-refresh-sync.toggle-loading
                i.icon.zmdi.zmdi-close
            .chartjs-body
              .widget-map
                .indicator.indicator-positive.float-right
                  i.icon.zmdi.zmdi-chevron-up
                  span(data-toggle="counter" data-end="15" data-suffix="%")
                .counter
                  .value 156k
                  .des Impressions
                #map(style="height: 265px")
            .spinner
                svg(width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://-www.w3.org/2000/svg")
                  circle(class="circle" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30")
