extends modules/layout/_page-default

block head
  +head('Beagle')

block main
  .page-login
    .main-content.container-fluid
      .login
        .card.card-primary
          .card-header
            a(href="be-01-index.html" title="Back to homepage")
              img.login__img(src="images/logo-xx.png", alt="")
            span.login__des Please enter your user information.
          .card-body
            +form-group-login(2)
