extends modules/layout/_page-default

block head
  +head('Beagle')

block main
  .page-signup
    .main-content.container-fluid
      .login.signup
        .card.card-primary
          .card-header
            img.login__img(src="images/logo-xx.png", alt="")
            span.login__des Please enter your user information.
          .card-body
            span.login__title Sign Up
            +form-group-signup()
        .footer © 2018 Your Company
